name: Java CI with Gradle
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: 'temurin'
        architecture: x64

    - name: Download Galacticraft deobf jar
      run: curl https://github.com/GTNewHorizons/Galacticraft/releases/download/3.4.14-GTNH/Galacticraft-3.4.14-GTNH-dev.jar -o libs/Galacticraft-3.4.14-GTNH-dev.jar

    - name: Download BON2
      run: curl https://github.com/GTNewHorizons/BON2/releases/download/2.5.1/BON2-2.5.1-CUSTOM-all.jar -o BON2.jar

    - name: Download GalaxySpace
      run: curl https://mediafilez.forgecdn.net/files/3806/537/GalaxySpace-1.7.10-1.2.15.jar -o GalaxySpace.jar

    - name: Deobfuscate GalaxySpace
      run: java -jar BON2.jar --mcVer 1.7.10 --mappingsVer stable_12 --inputJar GalaxySpace.jar --outputJar libs/GalaxySpace-1.7.10-1.2.15-deobf.jar

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Build
      run: ./gradlew build

    - uses: actions/upload-artifact@v4
      with:
        name: Package
        path: build/libs
